
/* Defaul styles for small screens and anything not caught by media.*/
body {
    background-color: blueviolet;
}
/* Styled for screens 600px wide and larger */
/* @media screen and (min-width: 600px) */
@media screen and (width > 600px){
    body{
        background-color: brown;
    }
}
@media screen and (width > 600px){
.column {
    float: left;
    width: 33.33%;
  }
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  
  